* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: #544837;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*menu*/
.nav {
    padding-top: 30px;
}

.nav__list {
    margin-left: 220px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    padding: 0 15px 30px;
}

.nav__link {
    text-decoration: none;
    font-size: 14px;
    color: #2F281E;
    transition: color ease-in-out 0.3s;
}

.nav__link:hover {
    color: #FF9900;
}

/*button*/
.button__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.button__item {
    margin: 0 10px;
}

.button__link {
    text-decoration: none;
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 4px;
    display:inline-block;
    cursor:pointer;
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight:600;
    padding:11px 23px;
    transition: all .3s ease 0s;
}

.button__link-button-color {
    color: #173A56;
    background-color: white;
    border: 1px solid #BCD0E5;
}

.button__link:hover {
    background-color:white;
    color: #173A56;
}

.button__link-button-color:hover {
    background-color:#FF9900;
    color: white;
}

.hero-section-button__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.button__link-video {
    color: #FF9900;
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
}

.button__link-video:hover {
    text-decoration: none;
}

.button__item-link-video{
    padding-top: 10px;
    margin-left: 30px;
}

.button__item-link-video {
    position: relative;
}

.button__item-link-video:before{
    content: "";
    position: absolute;
    left: -10px;
    top: 11px;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #ff9900;
}

/*hero section*/
.hero-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-section__title {
    font-size: 44px;
    line-height: 55px;
    color: #2F281E;
}

.hero-section__content {
    width: 460px;
    padding-bottom: 10px;
}

.hero-section__image {
    width: 50%;
    padding-top: 30px;
}
.hero-section__image img{
    display: inline-flex;
    width: 100%;
}

.hero-section__text_holder {
    padding-top: 30px;
}

.hero-section-button__list {
    padding-top: 35px;
}

/*design tools*/
.design-tools {
   padding: 80px 0 30px;
}

.design-tools__title-holder {
    max-width: 540px;
    margin: 0 auto;
    width: 100%;
}

.design-tools__title {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    margin: 0 0 54px;
}

.design-tools__col-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 25%;
    padding-right: 45px;
}

.column__title {
    color: #2F281E;
}

.column__icon-holder{
    padding-bottom: 30px;
}

.column__text-holder {
    padding: 13px 0 34px;
    font-weight: 500;
}

.column:last-child {
    padding-right: 0;
}

/*design professionals-marketers*/
.flex-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-section {
   padding: 100px 0 30px;
}

.flex-section__text {
    width: 485px;
}

.flex-section__image {
    width: 50%;
}

.flex-section__content {
    padding: 10px 0 25px;
    font-weight: 500;
    font-size: 16px;
}

.flex-section__title {
    padding: 0 0 10px;
    color: #2F281E;
    font-size: 36px;
}

.flex-section__content-title {
    color: #2F281E;
}

/*product manager*/
.managers .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.managers {
    padding: 100px 0 30px;
}

.managers__text{
    width: 485px;
    padding-top: 60px;
}

.managers__content-list {
    list-style: none;
}

.managers__content-list-item {
    padding-bottom: 30px;
    padding-left: 60px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.managers__content-list-item:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 5px;
    background: #FF9900;
    border-radius: 14px;
}

.managers__content-list-item:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 15px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 15px;
    height: 7px;
    transform: rotate(-45deg);
}

/*footer*/

.footer{
    padding: 150px 0 60px;
}

.footer .container .footer__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__holder{
    border-top: 1px solid #BCD0E5;
    padding-top: 70px;
}


.footer__logo-wrapper {
    padding-bottom: 170px;
}

.footer__column-holder{
    margin-left: 50px;
}

.footer__title {
    color: #2F281E;
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding-bottom: 35px;
}

.footer__title--form{
    color: #2F281E;
    font-size: 20px;
    font-weight: 700;
    max-width: 250px;
    display: block;
}

.footer__item{
    padding-bottom: 10px;
}

.footer__list{
    list-style: none;
}

.footer__link {
    text-decoration: none;
    font-size: 14px;
    color: #2F281E;
    transition: color ease-in-out 0.3s;
}

.footer__link:hover {
    color: #FF9900;
}

.footer__column-form-submit{
    padding: 30px 0 15px;
}

.footer__input {
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 8px;
}

::placeholder{
    color: #BCD0E5;
    padding-left: 15px;
}

:focus {
    border: 2px solid #FF9900;
    outline: none;
}